<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Junge" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">    <style type="text/css">
    .centrado{
      display:block;
      margin-left: auto;
      margin-right: auto;
    }
    body {padding: 1.5em} 
    div img {
      margin-top: .8em;
      margin-bottom: .5em;
      margin-left: 1em;
      margin-right: .5em;
    }
    .margen{
      margin-top: 2em;
    }
  body {padding: 1.5em;
font-family: 'Junge', serif;
}
        p{
      font-size: 20px;
    }
    .margen1{
      margin-top: 0.5em;
    }
    .margen2{
      margin-top: 18em;
    }
    li {list-style:none;}
    </style>
</head>
<body>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-5"><img width="300" height="70" src="http://uestatales.cl/cue/sites/default/files/publicaciones/utem_imagotipoPNG.png" class="img-fluid"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid">
            <br>
            <ul class="nav nav-pills nav-fill" style="background-color: #044f8e;">
                <li class="nav-item" href="/inicio">
                    <a class="nav-link" href="/iniciodepto/inicio" style="color: #ffffff;">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/academicos"  style="color: #ffffff;">Académicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/investigacion"  style="color: #ffffff;">Investigación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/organizacion"  style="color: #ffffff;">Organización</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactod"  style="color: #ffffff;">Contacto</a>
                </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="container-fluid">
          <ol class="breadcrumb margen">
            <li class="breadcrumb-item"><a href="index2.html">Portal</a></li>
            <li class="breadcrumb-item active">Departamento</li>
          </ol>
          <hr>
        </div>
        <div class="container-fluid margen">
          <div class="list-group">
            <% @casillas.each do |i|%>
              <% if i.activo ==  1 %>
                <li>
                <a href="<%= i.link %>" class="list-group-item "><%= i.nombre %> -> <span class="badge badge-success">activo</span></a>
                <%= link_to "Cambiar estado", editar_casilla_path(i) %>
                <%= link_to "Eliminar", eliminar_casilla_path(i) , method: :delete, data: {confirm: "Se eliminará #{i.nombre}, seguro?"} %>
                </li>
              <% else %>
                <li>
                <a href="<%= i.link %>" class="list-group-item "><%= i.nombre %> -> <span class="badge badge-danger">inactivo</span></a>
                <%= link_to "Cambiar estado", editar_casilla_path(i) %>
                </li>
              <% end %>
            <% end %>
          <%= form_tag academico_path,:class =>'margen' ,:method => :get do %>

            <%= text_field_tag :search %>

            <%= submit_tag "Buscar", :class => 'btn btn-outline-success margen1'%>

          <% end %>
          </div>
          <%= link_to "Nueva Casilla", new_casilla_path %>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12 .hidden-xs-down margen col-sm-12">
            <h2>Lista de Académicos</h2>
            <div class="margen">
              <ul>
                <% @academicos.each do |i|%>
                <li><p><a href="/academico/mostrar/<%=i.id %>"><%=i.apellido %>, <%= i.nombre %></a>-><%= link_to "Editar", editar_academico_path(i) %>-><%= link_to "Eliminar", eliminar_academico_path(i) , method: :delete, data: {confirm: "Se eliminará a #{i.nombre}, seguro?"} %></p></li>
                <% end %>
              </ul>
            </div>
          </div>
          <h4 class="text-left"><%= link_to "Nuevo Academico", new_academico_path %></h4>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 margen2"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <center>
              <a href=""><img src="imagenes/m1.jpg" class="text-center mx-auto float-center"></a>
              <a href=""><img src="imagenes/m2.jpg" class="text-center mx-auto float-center"></a>
              <a href=""><img src="imagenes/m3.jpg" class="text-center mx-auto float-center"></a>
              <a href=""><img src="imagenes/m4.jpg" class="text-center mx-auto float-center"></a>
              <a href=""><img src="imagenes/m5.jpg" class="text-center mx-auto float-center"></a>
              <a href=""><img src="imagenes/m6.jpg" class="text-center mx-auto float-center"></a>
            </center>
            <h6 class="text-center">Dirección: José Pedro Alessandri 1242, Ñuñoa. Teléfono: ...</h6>
            <h6 class="text-center">2017 © UTEM - Todos los derechos reservados.</h6>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</div>
</html>