<!-- nueva casilla...-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Junge" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <style type="text/css">
    .centrado{
      display:block;
      margin-left: auto;
      margin-right: auto;
    }
    body {padding: 1.5em} 
    div img {
      margin-top: .8em;
      margin-bottom: .5em;
      margin-left: 1em;
      margin-right: .5em;
    }
    .margen{
      margin-top: 2em;
    }
    .margen2{
      margin-top: 18em;
    }
     body {padding: 1.5em;
font-family: 'Junge', serif;
}
  
    </style>
</head>
<body>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-5"><img width="300" height="70" src="http://uestatales.cl/cue/sites/default/files/publicaciones/utem_imagotipoPNG.png" class="img-fluid"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid">
            <br>
            <ul class="nav nav-pills nav-fill" style="background-color: #044f8e;">
                <li class="nav-item" href="/inicio">
                    <a class="nav-link" href="/iniciodepto/inicio" style="color: #ffffff;">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/academicos"  style="color: #ffffff;">Académicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/investigacion"  style="color: #ffffff;">Investigación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/organizacion"  style="color: #ffffff;">Organización</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactod"  style="color: #ffffff;">Contacto</a>
                </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="container-fluid">
          <ol class="breadcrumb margen">
            <li class="breadcrumb-item"><a href="index2.html">Portal</a></li>
            <li class="breadcrumb-item active">Escuela</li>
          </ol>
          <hr>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
        <%= form_for(@casillas, :url => {:action => :createcasilla}) do |f| %>
          <div class="col-md-9 margen">
            <h3 class="text-left">
              <p><%= f.label :nombre_de_la_casilla %></p>
              <p><%= f.text_field :nombre %></p>
            </h3>
            <br>
            <h3 class="text-left">
              <p><%= f.label :activo_? %></p>
              <p><%= f.number_field :activo, {:max=>"1",:min=>"0"}%></p>
            </h3>
            <br>
            <h3 class="text-left">
              <p><%= f.label :Donde_redireccionará_? %></p>
              <p><%= f.select(:link, options_for_select([['Jornada Completa','/academico'], ['Media Jornada','MJ'],['Jornada Parcial','JP']])) %></p>
            </h3>
            <br>
           <h3 class="text-left">
              <p><%= f.label :ver %></p>
              <p><%= f.number_field :ver, {:max=>"1",:min=>"0"} %></p>
            </h3>
            <br>
            <h3 class="text-left">
              <p><%= f.label :ubicacion %></p>
              <p><%= f.select(:ubicacion, options_for_select([['Ubicación en académico','academico']])) %>
              </p>
            </h3>
            <div class="actions">
              <%= f.submit 'Guardar', :class => 'btn btn-outline-success margen1' %>
            </div>
            <% end %>
            <br>
            <%= link_to 'Volver', academico_path, :class => 'btn btn-outline-primary margen1' %>
            <br>
          </div>
        </div>
      </div>
        <div class="col-md-12 margen2"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <center>
              <a href=""><img src="imagenes/m1.jpg" class="text-center mx-auto float-center"></a>
              <a href=""><img src="imagenes/m2.jpg" class="text-center mx-auto float-center"></a>
              <a href=""><img src="imagenes/m3.jpg" class="text-center mx-auto float-center"></a>
              <a href=""><img src="imagenes/m4.jpg" class="text-center mx-auto float-center"></a>
              <a href=""><img src="imagenes/m5.jpg" class="text-center mx-auto float-center"></a>
              <a href=""><img src="imagenes/m6.jpg" class="text-center mx-auto float-center"></a>
            </center>
            <h6 class="text-center">Dirección: José Pedro Alessandri 1242, Ñuñoa. Teléfono: ...</h6>
            <h6 class="text-center">2017 © UTEM - Todos los derechos reservados.</h6>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</div>
</html>