<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Junge" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <style type="text/css">
    .centrado{
      display:block;
      margin-left: auto;
      margin-right: auto;
    }
    body {padding: 1.5em}
    div img {
      margin-top: .8em;
      margin-bottom: .5em;
      margin-left: 1em;
      margin-right: .5em;
    }
    .margen{
      margin-top: 2em;
    }
    .margen2{
      margin-top: 18em;
    }
    body {padding: 1.5em;
      font-family: 'Junge', serif;
    }

  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row">
    <div class="col-md-5"><img width="300" height="70" src="http://uestatales.cl/cue/sites/default/files/publicaciones/utem_imagotipoPNG.png" class="img-fluid"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <br>
        <ul class="nav nav-pills nav-fill" style="background-color: #044f8e;">
          <li class="nav-item" href="/inicio">
<<<<<<< 9efd67fea3b07829bd8b997fd15a4bddb79923e5
            <a class="nav-link" href="/departamento" style="color: #ffffff;">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/academicos"  style="color: #ffffff;">Académicos</a>
=======
            <a class="nav-link active" href="/departamento" style="color: #ffffff;">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/academicos"  style="color: #ffffff;">Académicos</a>
>>>>>>> inicio funcional completo
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/investigacion"  style="color: #ffffff;">Investigación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/organizacion"  style="color: #ffffff;">Organización</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactod"  style="color: #ffffff;">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="container-fluid">
        <ol class="breadcrumb margen">
<<<<<<< 9efd67fea3b07829bd8b997fd15a4bddb79923e5
          <li class="breadcrumb-item"><a href="index2.html">Portal</a></li>
          <li class="breadcrumb-item active">Escuela</li>
=======
          <li class="breadcrumb-item"><a href="../index2.html">Portal</a></li>
          <li class="breadcrumb-item active">Departamento</li>
>>>>>>> inicio funcional completo
        </ol>
        <hr>
      </div>
      <div class="container-fluid margen">
        <div class="list-group">
<<<<<<< 9efd67fea3b07829bd8b997fd15a4bddb79923e5
          <a href="/academico/" class="list-group-item active">
            Jornada Completa
          </a>
          <a href="/academico/MJ" class="list-group-item list-group-item-action">Media Jornada</a>
          <a href="/academico/JP" class="list-group-item list-group-item-action">Jornada Parcial</a>
=======
          <a href="inicio.html" class="list-group-item list-group-item-action">Inicio</a>
          <a href="historia.html" class="list-group-item list-group-item-action">
            Historia
          </a>
          <a href="misionvision.html" class="list-group-item list-group-item-action">Misión y Visión</a>
          <a href="pde.html" class="list-group-item list-group-item-action active">PDE</a>
>>>>>>> inicio funcional completo
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
<<<<<<< 9efd67fea3b07829bd8b997fd15a4bddb79923e5
        <%= form_for(@academicos, :url => {:action => :update}) do |f| %>
            <div class="col-md-9 margen">
              <h3 class="text-left">
                <%= f.label :nombre %>
                <%= f.text_field :nombre %>
              </h3>
              <br>
              <h3 class="text-left">
                <%= f.label :apellido %>
                <%= f.text_field :apellido %>
              </h3>
              <br>
              <h3 class="text-left">
                <%= f.label :titulo_profesional %>
                <%= f.text_field :titulo_profesional %>
              </h3>
              <br>
              <h3 class="text-left">
                <%= f.label :grado %>
                <%= f.text_field :grado %>
              </h3>
              <br>
              <h3 class="text-left">
                <%= f.label :area_interes %>
                <%= f.text_field :area_interes %>
              </h3>
              <br>
              <h3 class="text-left">
                <%= f.label :correo %>
                <%= f.text_field :correo %>
              </h3>
              <br>
              <h3 class="text-left">
                <%= f.label :jornada %>
                <%= f.select(:jornada, options_for_select([['Jornada Completa','JC'], ['Media Jornada','MJ'], ['Jornada Parcial','JP']])) %>
=======
        <%= form_for(@textos, :url => {:action => :updatemisionvision}) do |f| %>
            <div class="col-md-9 margen">


              <h3 class="text-left">
                <%= f.label :descripcion %>
                <%= f.text_field :descripcion %>
>>>>>>> inicio funcional completo
              </h3>
              <br>
              <h3 class="text-left">
                <%= f.label :imagen %>
                <%= f.text_field :imagen %>
              </h3>
              <br>
              <h3 class="text-left">
<<<<<<< 9efd67fea3b07829bd8b997fd15a4bddb79923e5
                <%= f.label :link1 %>
                <%= f.text_field :link1 %>
              </h3>
              <br>
              <h3 class="text-left">
                <%= f.label :link2 %>
                <%= f.text_field :link2 %>
              </h3>
              <br>
              <h3 class="text-left">
                <%= f.label :link3 %>
                <%= f.text_field :link3 %>
              </h3>
              <br>
              <h3 class="text-left">
                <%= f.label :descripcion %>
                <%= f.text_field :descripcion %>
=======
                <%= f.label :descripcion_imagen %>
                <%= f.text_field :descripcion_imagen %>
>>>>>>> inicio funcional completo
              </h3>
              <br>
              <div class="actions">
                <%= f.submit 'Guardar Cambios', :class => 'btn btn-outline-success margen1' %>
              </div>
        <% end %>
        <br>
<<<<<<< 9efd67fea3b07829bd8b997fd15a4bddb79923e5
        <%= link_to 'Volver', academico_path , :class => 'btn btn-outline-primary margen1' %>
=======
        <%= link_to 'Volver', iniciodepto_misionvision_path , :class => 'btn btn-outline-primary margen1' %>
>>>>>>> inicio funcional completo
        <br>
        </div>
      </div>
    </div>
    <div class="col-md-12 margen2"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <center>
        <a href=""><img src="imagenes/m1.jpg" class="text-center mx-auto float-center"></a>
        <a href=""><img src="imagenes/m2.jpg" class="text-center mx-auto float-center"></a>
        <a href=""><img src="imagenes/m3.jpg" class="text-center mx-auto float-center"></a>
        <a href=""><img src="imagenes/m4.jpg" class="text-center mx-auto float-center"></a>
        <a href=""><img src="imagenes/m5.jpg" class="text-center mx-auto float-center"></a>
        <a href=""><img src="imagenes/m6.jpg" class="text-center mx-auto float-center"></a>
      </center>
      <h6 class="text-center">Dirección: José Pedro Alessandri 1242, Ñuñoa. Teléfono: ...</h6>
      <h6 class="text-center">2017 © UTEM - Todos los derechos reservados.</h6>
    </div>
    <div class="col-md-4"></div>
  </div>
</body>
</div>
</html>